<main role="main">
        <div class="jumbotron jumbotron-fluid">

                <video autoplay muted loop id="indexVideo">    
                    <source src="" data-src="/videos/stock1.mp4" type="video/mp4">
                </video>
                
                  <div class="container text-white">
                
                    <h1 class="display-4">Welcome to Vetpage!</h1>
                    <p class="lead">This is an early work in progress of a site which will help veterans and servicemembers in the process of seperation from the armed forces in finding the resources and guidance they need to reintegrate into civilian life and build a fulfilling life, channeling the energy, dedication, and adaptation they displayed in service into their own edification and growth in this new chapter of their lives!</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="api/users/signup" role="button">Sign up now!</a>
                
                  </div>
                  <!-- /.container -->
                </div>
                <!-- /.jumbotron -->

                <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                          <div class="col-md-4">
                            <img class="front-image" src="/images/News.jpg">
                            <h2>News</h2>
                            <p>Looking to keep up in the latest news, from changes in VA benefits to new programs? Check out our news portal to see what's impacting the veteran community today! </p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                          </div>
                          <div class="col-md-4">
                            <img class="front-image" src="/images/VA seal.jpg">
                            <h2>Benefits Portal</h2>
                            <p>From education to health, housing, and beyond; Here you can dive into the resources in place from federal and local institutions to benefit veterans!</p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                          </div>
                          <div class="col-md-4">
                            <img class="front-image" src="/images/community.jpg">
                            <h2>Community</h2>
                            <p>Have a question or in need of other support? Do you have things to share that may help others in need? Join the Vetpage community today for everything from resume critiques, job connections, and mentoring.</p>
                            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                          </div>
                        </div>
                    
                        <hr>
                    
                      </div> <!-- /container -->
</main>