<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <link href="/stylesheets/video.css" rel="stylesheet">
    <script src="/javascripts/videos.js"></script>
  <body>
    <% include ./partials/nav %>
    <% include ./partials/main-alt %>
    <% include ./partials/footer %>
  </body>
</html>
