<button class="collapsible">ETS</button>
<div class="content">
  <br>
  <b>ETS Date:</b><span><%= list.ets.date %></span>
  <hr>
  <% if(list.ets.health.health == true){ %>
    <b>Health checkout:</b><span>Completed</span>
    <% } else { %>
    <b>Health checkout:</b><span>Pending date</span>
  <% } %>
  <hr>
  <% if(list.ets.health.dental == true){ %>
    <b>Dental checkout:</b><span>Completed</span>
    <% } else { %>
    <b>Dental checkout:</b><span>Pending date</span>
  <% } %>
  <hr>
</div>
<button class="collapsible">School</button>
<div class="content">
  <br>
  <b>School:</b><span> Digital Film Academy Code Immersives</span>
  <hr>
  <b>Scholarships/Grants:</b><span>None</span>
  <hr>
  <b>Benefits:</b><span>Post 9/11 GI Bill</span>
  <hr>
  <b>Date of attendance:</b><span>January 20th</span>
  <hr>
</div>
<button class="collapsible">Home</button>
<div class="content">
  <br>
  <b>Housing:</b><span><%= list.housing %></span>
  <hr>
  <b>Employment:</b><span><%= list.employment %></span>
  <hr>
</div>
<button class="collapsible">Counseling</button>
<div class="content">
  <br>
  <b>Counseling:</b><span>None</span>
  <hr>
</div>