<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/nav %>
            <div class="container">
                <h1>Sorting out housing</h1>
                <p>One of the more daunting, but also the most important tasks for a transitioning service member is hashing out where to live and how to handle it. Moving is an expense and time consuming process, even as a servicemember...And arguably especially so, as you're coming into the civilian world likely unemployed. While you may still get a final check after your ETS, it's important to have a solid gameplan for income upon your arrival home, wherever that may be, and a realistic goal of where to live on that income.</p>

                <p>Many landlords, especially in college towns, are often more willing to accept some wiggle room on your employment status if you are a veteran fresh from service if you have a clear path of income laid out, whether it be a job lined up, or using the living stipend from your 9/11 GI Bill</p>

                <p>For those looking into attaining home ownership, especially service members retiring from the service instead of just ETS'ing, the VA and other organizations offer competitive loans and programs to make buying a home a more accessible process.</p>

                <h4>Well known providors:</h4>
                <br>
                <a target="_blank" href="https://www.va.gov/housing-assistance/"><img src="/images/va logo.png"></a>
                <br>
                <a target="_blank" href="https://www.usaamortgageloans.com/"><img src="/images/USAA.png"></a>
                <hr>
                <h5>Homeless hotline</h5>
                <p>If you or someone you know is facing homelessness or is already in need, the VA has a <a href="https://www.va.gov/homeless/nationalcallcenter.asp">hotline</a> in service.</p>
                <hr>
                <form>
                    <label for="homeStatus" class="sr-only">Living status</label>
                    <input type="text" id="homeStatus" class="form-control" placeholder="homeStatus" value="Living Status" name="homeStatus">
                    <br>
                    <label for="employment" class="sr-only">Employment status</label>
                    <input type="text" id="employment" class="form-control" placeholder="employment" value="Employment Status" name="employment">
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Checklist</button>
                </form>
            </div>



        <% include ../partials/footer %>
    </body>
</html>