<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/nav %>
            <div class="container">
                <h1>Counseling</h1>
                <p>While not a strictly necessary part of your transition to civilian life, those in need have access to resources for mental and physical health, or even just simply some guidance from experienced mentors and advocates in navigating the VA system and getting on their feet. Transitioning to civilian life often implies more than just getting a now home and job. Leaving behind a culture and lifestyle that can't be emulated in the civilian world is a difficult process for even the most stoic among the ranks, as years of living life a specific way abruptly comes to an end.</p>

                <p>However you choose to go on your transitionary path, Vetpage offers access to an entire community of current and separated service members to share your experiences with and to seek advice, if not simply a space to converse. As far as the checklist is concerned, this optional section can be used for setting of appointments for counseling, as well as setting personal goals.</p>

                <form>
                    <label for="inputCounseling1" class="sr-only">Note 1</label>
                    <input type="text" id="hinputCounseling1" class="form-control" placeholder="inputCounseling1" value="Note 1" name="inputCounseling1">
                    <br>
                    <label for="inputCounseling2" class="sr-only">Note 2</label>
                    <input type="text" id="inputCounseling2" class="form-control" placeholder="inputCounseling2" value="Note 2" name="inputCounseling2">
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Checklist</button>
                </form>
            </div>



        <% include ../partials/footer %>
    </body>
</html>