<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/nav %>
            <div class="container">
                <h1>Getting an education</h1>
                <p>It's no secret in this day and age that the path to gainful employment is most often through higher education. Whether it be a university or a trade school, Veterans and civilians alike are finding the necessity of gaining job skills all the more pressing for a stable, comfortable income. Thankfully, while the costs of tuition in many institutions has risen tremendously over the years, access to education, both from traditional and alternative means, is easier than ever. Veterans also enjoy a unique opportunity to use programs like the 9/11 or Montgomery GI bill to go to school without the burdens of debt. Furthermore, many programs exist to offer scholarships and grants to veterans seeking higher education and a transition to a new career out of uniform.</p>

                <h3>Programs to consider:</h3>
                <a target="_blank" href="https://operationcode.org/"><img src="/images/operation code.png"></a>
                <br>
                <a target="_blank" href="https://www.va.gov/education/"><img src="/images/va logo.png"></a>
                <br>
                <a target="_blank" href="https://www.benefits.va.gov/gibill/yellow_ribbon.asp"><img src="/images/yellow ribbon.png"></a>
                <p></p>
            </div>
            <hr>
        <div class="container">
          <form>
              <label for="schoolName" class="sr-only">Date of ETS</label>
              <input type="text" id="schoolName" class="form-control" placeholder="schoolName" value="School" name="schoolName">
              <br>
              <label for="schoolGrant" class="sr-only">School grants/scholarships(Separate by Comma)</label>
              <input type="text" id="schoolGrant" class="form-control" placeholder="schoolGrant" value="School grants/scholarships(Separate by Comma)" name="schoolGrant">
              <br>
              <label for="schoolBill" class="sr-only">GI bill</label>
              <input type="text" id="schoolBill" class="form-control" placeholder="schoolBill" value="GI bill" name="schoolBill">
              <br>
              <label for="schoolDate" class="sr-only">Date of attendance</label>
              <input type="text" id="schoolDate" class="form-control" placeholder="schoolDate" value="Date of School attendance" name="schoolDate">
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update Checklist</button>
          </form>
        </div>

        <% include ../partials/footer %>
    </body>
</html>